[Unit]
Description=Sys checks
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /etc/bellsocket/services/sys_check.py
WorkingDirectory=/etc/bellsocket/services
Restart=always

[Install]
WantedBy=multi-user.target
