[Unit]
Description=Bell Sys Monitor Client Service
After=network.target

[Service]
User=<YourUser>
Group=<YourGroup>
WorkingDirectory=/path/to/your/project
ExecStart=/path/to/your/venv/bin/python -m app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
